{% if rust_backtrace is defined %}
RUST_BACKTRACE="{{ rust_backtrace }}"
{% endif %}
CONFIG_SOURCE="{{ guardian_dirs.config }}/production-{{ guardian_instance.guardian_id }}.toml"
APP_ENV="{{ guardian_app_environment }}"
GUARDIAN_ID="{{ guardian_instance.guardian_id }}"
LOG_DIR="{{ guardian_dirs.log }}"
AURUM_ACCESS_TOKEN="{{ guardian_access_token }}"



{% if guardian_monitor is defined %}
AURUM_BEARER_TOKEN="{{ guardian_monitor.aurum_bearer_token }}"
CUBE_PSQL_CONFIG="{{ guardian_monitor.cube_psql_config }}"
{% endif %}
