RUST_BACKTRACE="full"
{#
AURUM_BEARER_TOKEN="{{ cube_bearer_token }}"
AURUM_ACCESS_TOKEN="{{ cube_bearer_token }}"
CUBE_PSQL_CONFIG="{{ cube_psql_config }}"
APP_ENV="{{ app_env }}"
GUARDIAN_ID="{{ item.id }}"
#}
