cube_id = {{ guardian_config_main.cube_id | int }}

key_path = "{{ guardian_config_main.key_path }}"
certs_path = "{{ guardian_config_main.certs_path }}"
{% if guardian_use_ca_bundle | default(false) %}
roots_path = "{{ guardian_ca_bundle_dest }}"
{% else %}
#roots_path = "{{ guardian_config_main.roots_path }}"
{% endif %}


[nodes]
listen_ip = "{{ guardian_listen_node_ip }}"
listen_port = {{ guardian_listen_node_port | int }}



{% for guardian in public_guardian_list %}
[[nodes.guardians]]
id = {{ guardian.guardian_id }}
addr = "{{ guardian.public_fqdn }}:{{ guardian.public_port_node }}"
tls_name = "{{ guardian.public_fqdn }}"
name = "{{ guardian.name }}"

[nodes.guardians.metadata]
external_url = "{{ guardian.external_url }}"

{% endfor %}



[web]
public_listen_address = "{{ guardian_listen_web_ip }}:{{ guardian_listen_web_port }}"
admin_listen_address = "{{ guardian_listen_webadmin_ip }}:{{ guardian_listen_webadmin_port }}"

[keys]

{% if guardian_key_storage.hashicorp_vault is defined %}
storage = "hashicorp_vault"
read_path = "{{ guardian_key_storage.hashicorp_vault.approle_path_reader }}"
write_path = "{{ guardian_key_storage.hashicorp_vault.approle_path_writer }}"
base_url = "{{ guardian_key_storage.hashicorp_vault.vault_url }}"
vault_cert_path = "{{ guardian_dirs.config }}/{{ guardian_key_storage.hashicorp_vault.vault_tls_client_ca_filename }}"
secret_mount_path = "{{ guardian_key_storage.hashicorp_vault.secret_mount_path }}"
token_renew_seconds = {{ guardian_key_storage.hashicorp_vault.approle_token_renew_seconds | int }}
access_log_filename = "{{ guardian_key_storage.hashicorp_vault.access_log_filename }}"
{% endif %}


[manager]
num_workers = {{ guardian_config_manager.num_workers | int }}
max_active_triple_jobs = {{ guardian_config_manager.max_active_triple_jobs | int }}
num_triples_to_cache = {{ guardian_config_manager.num_triples_to_cache | int }}
public_shares_path = "{{ guardian_config_manager.public_shares_path }}"
cached_triples_path = "{{ guardian_config_manager.cached_triples_path }}"

{% if snoop_enabled is defined and snoop_enabled == true %}
[snoop]
address = "{{ snoop_dest_address }}"
bind = "{{ snoop_bind_ip }}:{{ snoop_bind_port }}"
{% endif %}

{% if guardian_monitor is defined %}
[monitor]
listen_address = "{{ guardian_listen_monitor_ip }}:{{ guardian_listen_monitor_port | int }}"
{% endif %}

{% if guardian_verification_enabled | default(false) %}
[verification]
quic_address = "{{ guardian_verification_cubenet_quic }}"
cube_rpc_url = "{{ guardian_verification_cubenet_rpc }}"
runes_uri = "{{ guardian_verification_runes_uri }}"
sui_uri = "{{ guardian_verification_sui_uri }}"
cubenet_trade_publisher_key = "{{ guardian_verification_cubenet_trade_publisher_key }}"
cubenet_asset_publisher_key = "{{ guardian_verification_cubenet_asset_publisher_key }}"
tradepool_program_id = "{{ guardian_verification_cubenet_tradepool_program_id }}"
settle_utils_program_id = "{{ guardian_verification_cubenet_settle_utils_program_id }}"
openid_jwk_archive = "{{ guardian_verification_openid_jwk_archive }}"
openid_jwk_refresh_seconds = {{ guardian_verification_openid_jwk_refresh_seconds | int }}
unsafe_lax_delta_check = {{ guardian_verification_cubenet_unsafe_lax_delta_check | bool | lower }}
unsafe_lax_verification_key_check = {{ guardian_verification_cubenet_unsafe_lax_verification_key_check | bool | lower }}
tesseract_program_id = "{{ guardian_verification_tesseract_program_id }}"

[verification.openid_jwk_providers]
{% if guardian_verification_openid_jwk_providers_google is defined %}
google = [
  "{{ guardian_verification_openid_jwk_providers_google }}",
]
{% endif %}
{% if guardian_verification_openid_jwk_providers_apple is defined %}
apple = [
  "{{ guardian_verification_openid_jwk_providers_apple }}",
]
{% endif %}
[verification.solana]
settle_utils_program_id = "{{ guardian_verification_solana_settle_utils_program_id }}"
router_program_id = "{{ guardian_verification_solana_router_program_id }}"
message_transmitter_program_id = "{{ guardian_verification_solana_message_transmitter_program_id }}"
token_messenger_program_id = "{{ guardian_verification_solana_token_messenger_program_id }}"

[verification.ethereum]
token_messenger_contract = "{{ guardian_verification_ethereum_token_messenger_contract }}"
token_messenger_ext_contract = "{{ guardian_verification_ethereum_token_messenger_ext_contract }}"
message_transmitter_contract = "{{ guardian_verification_ethereum_message_transmitter_contract }}"

[verification.aptos]
{% endif %}
