cube_id = {{ guardian_config_main.cube_id | int }}

key_path = "{{ guardian_config_main.key_path }}"
certs_path = "{{ guardian_config_main.certs_path }}"
{% if guardian_use_ca_bundle | default(false) %}
roots_path = "{{ guardian_ca_bundle_dest }}"
{% else %}
#roots_path = "{{ guardian_config_main.roots_path }}"
{% endif %}


[nodes]
listen_ip = "{{ guardian_listen_node_ip }}"
listen_port = {{ guardian_listen_node_port | int }}



{% for guardian in public_guardian_list %}
[[nodes.guardians]]
id = {{ guardian.guardian_id }}
addr = "{{ guardian.public_fqdn }}:{{ guardian.public_port_node }}"
tls_name = "{{ guardian.public_fqdn }}"
name = "{{ guardian.name }}"

[nodes.guardians.metadata]
external_url = "{{ guardian.external_url }}"

{% endfor %}



[web]
public_listen_address = "{{ guardian_listen_web_ip }}:{{ guardian_listen_web_port }}"
admin_listen_address = "{{ guardian_listen_webadmin_ip }}:{{ guardian_listen_webadmin_port }}"
iridium_jwk = "{{ guardian_iridium_jwk_pubkey }}"

[keys]

{% if guardian_key_storage.hashicorp_vault is defined %}
storage = "hashicorp_vault"
read_path = "{{ guardian_key_storage.hashicorp_vault.approle_path_reader }}"
write_path = "{{ guardian_key_storage.hashicorp_vault.approle_path_writer }}"
base_url = "{{ guardian_key_storage.hashicorp_vault.vault_url }}"
vault_cert_path = "{{ guardian_dirs.config }}/{{ guardian_key_storage.hashicorp_vault.vault_tls_client_ca_filename }}"
secret_mount_path = "{{ guardian_key_storage.hashicorp_vault.secret_mount_path }}"
token_renew_seconds = {{ guardian_key_storage.hashicorp_vault.approle_token_renew_seconds | int }}
access_log_filename = "{{ guardian_key_storage.hashicorp_vault.access_log_filename }}"
{% endif %}


[manager]
num_workers = {{ guardian_config_manager.num_workers | int }}
max_active_triple_jobs = {{ guardian_config_manager.max_active_triple_jobs | int }}
num_triples_to_cache = {{ guardian_config_manager.num_triples_to_cache | int }}
public_shares_path = "{{ guardian_config_manager.public_shares_path }}"
cached_triples_path = "{{ guardian_config_manager.cached_triples_path }}"

{% if snoop_enabled is defined and snoop_enabled == true %}
[snoop]
address = "{{ snoop_dest_address }}"
bind = "{{ snoop_bind_ip }}:{{ snoop_bind_port }}"
{% endif %}

{% if guardian_monitor is defined %}
[monitor]
cube_rpc_url = "{{ guardian_monitor.cubenet_rpc_url }}"
quic_address = "{{ guardian_monitor.cubenet_quic_address }}"
tradepool_program_id = "{{ guardian_monitor.tradepool_program_id }}"
listen_address = "{{ guardian_listen_monitor_ip }}:{{ guardian_listen_monitor_port | int }}"
{% endif %}
